#p1{
    background-color:aqua;
    font-size:40px;
}

div{
    background-color:darkblue;
    font-size:30px;
    color:white;
}
#div2 {
    background-color: darkblue;
    font-size: 30px;
    color: white;
}

h1{
    color:red;
}

#p2 {
    background-color: brown;
    font-size: 20px;
}
.center-aligment{
    text-align:center;
}
div{
    margin:20px 37px 20px 23px;
    border:7px solid darkblue;
    padding:12px 20px 19px 40px;

}